.resultsTable {
  width: 85%;
  margin: 30px auto;
  outline: solid 0.5px rgba(1, 1, 1, 0.5);
  border: none;
}

.headerRow {
  height: 60px;
  background: #bf2229;
  color: white;
  font-size: large;
  font-weight: 500;
  font-size: large;
}

.line {
  width: 85%;
  margin: 5px auto;
}